VITE_SUPABASE_URL=https://qpvilzvsllvmgxvytewa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwdmlsenZzbGx2bWd4dnl0ZXdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNDAxMTMsImV4cCI6MjA5MzcxNjExM30.XT-0LaMDfOq6597Hzmv7rnWaTGL_Onc1swATIoy6GLQ
